<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-check-2 text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Messages convertis</p>
              <p class="card-title">{{ totalConvertedDay }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Par jour
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-simple-remove text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Messages non convertis</p>
              <p class="card-title">{{ totalNSConvertDay }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Par jour
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-refresh-69 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Messages rejetés</p>
              <p class="card-title">{{ totalFailedDay }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Par jour
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Bar Chart on the Left -->
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Statut hebdomadaire des messages</h5>
        <p class="card-category">Convertis vs Non convertis vs Rejetés (Graphique à barres)</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="125"></canvas>
      </div>
      <div class="card-footer">
        <hr/>
        <div class="card-stats">
          <i class="fa fa-calendar"></i> Par semaine
        </div>
      </div>
    </div>
  </div>

  <!-- Weekly Status on the Right -->
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Statut hebdomadaire des messages</h5>
        <p class="card-category">Convertis vs Non convertis vs Rejetés</p>
      </div>
      <div class="card-body ">
        <canvas id="MessageStatus"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle" style="color:#2ecc71"></i> Convertis
          <i class="fa fa-circle" style="color:#f39c12"></i> Non convertis
          <i class="fa fa-circle" style="color:#e74c3c"></i> Rejetés
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Données de la semaine en cours
        </div>
      </div>
    </div>
  </div>
</div>
