html, body {
  height: 100%;
  overflow-x: hidden;   /* no horizontal scroll ever */
  overflow-y: auto;     /* vertical scroll only if needed */
}

.wrapper, .main-panel, .content {
  min-height: 100vh;    /* at least full viewport height */
  height: auto;         /* grow as needed */
  overflow: visible;    /* no internal scrollbars */
  
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@import url('assets/css/bootstrap.min.css');
@import url('assets/css/fontawesome.min.css');